@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-input {
    @apply focus:border-gray-300 inline-block h-10 w-full max-w-full appearance-none rounded-lg border bg-white py-0 pl-2.5 pr-5 text-base text-gray-600 transition delay-200 ease-in-out focus-visible:outline-none;
  }
}

html {
  font-family: 'Open Sans', 'Source Sans Pro', system-ui, sans-serif;
  font-size: 15px;
  line-height: 1.8;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #141414;
}
